table {
    border: 3px solid #000000;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }
  table td {
    border: 1px solid #000000;
    padding: 5px 4px;
    width: 20%;
    text-align: center;
  }
  table tbody td {
    font-size: 13px;
  }

#thanks {
  color: #d1d0d0;
  font-size: x-small;
}

@media print {
    .noPrint{
      display:none;
    }
  }
